[Unit]
Description=Telegram Bot Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=dnxx
Group=dnxx
WorkingDirectory=/opt/telebot
ExecStart=/opt/telebot/telebot
Restart=always
RestartSec=5s

# Carrega as variáveis de ambiente
EnvironmentFile=/opt/telebot/.env

# Hardening e limites
LimitNOFILE=65535
ProtectSystem=full
ProtectHome=read-only

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
